<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Catalog</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;628&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/default.css" />
    <link rel="stylesheet" type="text/css" href="~/css/catalog_page.css"/>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css"/>
</head>
<body>
    <header class="header">
        <script src="/js/view_getters/show_header.js"></script>
    </header>
    <div class="main-block">
        <div class="container">
            <div class="row upper-section">
                <div class="col-md-3">
                    <h1 class="catalog__title">Каталог</h1>
                </div>
            </div>
            <div class="row categories">
                <div class="col-md-3">
                    <select id="type-of-product" name="type-of-product" class="sort">
                        <option disabled selected>Тип продукта</option>
                        <option value="all">Все</option>
                        <option value="lotion">Крема</option>
                        <option value="serum">Сыворотки</option>
                        <option value="cleaning">Очищающие средства</option>
                        <option value="mask">Маски</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select id="function" name="function" class="sort">
                        <option disabled selected>По функции</option>
                        <option value="all">Все</option>
                        <option value="rejuvenating">Омолаживающая</option>
                        <option value="restoring">Восстанавливающая</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select id="skin-type" name="skin-type" class="sort">
                        <option disabled selected>Тип кожи</option>
                        <option value="all">Все</option>
                        <option value="soft">Нежная</option>
                        <option value="sensitive">Чувствительная</option>
                        <option value="rough">Грубая</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select id="sorting" name="sorting" class="sort">
                        <option disabled selected>Сортировка</option>
                        <option value="default">По умолчанию</option>
                        <option value="decs-price">По убыванию цены</option>
                        <option value="acs-price">По возрастанию</option>
                        <option value="most-popular">Самые популярные</option>
                        <option value="best-rate">Лучшая оценка</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="container" id="product-block">
            <script type="module" src="/js/view_getters/show_products.js"></script>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <script src="/js/view_getters/show_footer.js"></script>
        </div>
    </div>
    <script type="module" src="/js/view_getters/onchange_select.js"></script>
</body>
</html>