<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Catalog</title>
    <link rel="shortcut icon" href="img/favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;628&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/default.css" />
    <link rel="stylesheet" type="text/css" href="~/css/product_page.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
</head>
<body>
    <header class="header">
        <script src="/js/view_getters/show_header.js"></script>
    </header>
    <div class="main-block">
        <script src="~/js/view_getters/show_product_page.js"></script>
    </div>
    <div class="footer">
        <div class="container">
            <script src="/js/view_getters/show_footer.js"></script>
        </div>
    </div>
</body>
</html>