<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>About Us</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;628&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/default.css" />
    <link rel="stylesheet" type="text/css" href="~/css/about_page.css"/>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
</head>
<body>
    <header class="header">
        <script src="../HtmlHelpers/show_header.js"></script>
    </header>
    <div class="main-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 center-flex">
                    <div class="about-us__left">
                        <h1 class="about-us__title">О нас</h1>
                        <p class="s1">
                            Самая главная задача нашего бренда —
                            использование натурального сырья в продуктах и выработка
                            такой косметической формулы, которая подходила бы многим людям.
                            Наша лаборатория в поисках этой формулы.
                            Мы тестируем разные комбинации целебных растений.
                            Наши косметические средства проходят многочисленные проверки.
                        </p>
                        <img src="img/left_about.png" alt="1" class="left-image">
                    </div>
                </div>
                <div class="col-md-6 center-flex">
                    <div class="about-us__right">
                        <img src="img/right_about.png" alt="1" class="right-image">
                        <p class="s1">
                            Наша косметика не тестируется на животных.
                            Мы сотрудничаем с лучшими корейскими специалистами
                            в области косметических средств.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer">
        <script src="../HtmlHelpers/show_footer.js"></script>
    </div>
</body>
</html>