<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Contacts</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;628&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/default.css" />
    <link rel="stylesheet" type="text/css" href="~/css/catalog_page.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <a class="logo" href="https://localhost:7199/"></a>
                </div>
                <div class="col-md-8">
                    <ui class="main_menu">
                        <li><a class="s1" href="https://localhost:7199/about">О нас</a></li>
                        <li>
                            <a class="s1" href="https://localhost:7199/catalog">Каталог</a>
                            <ul>
                                <li><a class="s2" href="https://localhost:7199/catalog">Крема</a></li>
                                <li><a class="s2" href="https://localhost:7199/catalog">Сыворотки</a></li>
                                <li><a class="s2" href="https://localhost:7199/catalog">Очищающие средства</a></li>
                                <li><a class="s2" href="https://localhost:7199/catalog">Маски</a></li>
                            </ul>
                        </li>
                        <li><a class="s1" href="https://localhost:7199/delivery">Доставка</a></li>
                        <li><a class="s1" href="https://localhost:7199/contacts">Контакты</a></li>
                    </ui>
                </div>
                <div class="col-md-2">
                    <div class="buttons_menu">
                        <a class="favourite" href="https://localhost:7199/my/favourite"></a>
                        <a class="cart" href="https://localhost:7199/my/cart"></a>
                        <a class="search" href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="main-block">
        <div class="container">
            <div class="row upper-section">
                <div class="col-md-3">
                    <h1 class="catalog__title">Контакты</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="img/logo.png" alt="Marrubium" class="footer-center">
                </div>
                <div class="offset-md-1 col-md-2">
                    <div class="footer-menu-1 flex-cont">
                        <a href="https://localhost:7199/about">О нас</a>
                        <a href="https://localhost:7199/catalog">Каталог</a>
                        <a href="https://localhost:7199/contacts">Контакты</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-menu-2 flex-cont">
                        <a href="https://localhost:7199/delivery">Доставка</a>
                        <a href="mailto:aliev.af@edu.spbstu.ru">Напишите нам</a>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="tel-number footer-center">
                        <p class="tel">+7(999)999-99-99</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
