#info1, #info2, #info3 {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 2;
}

.pop-up {
    width: 654px;
    height: 595px;
    padding-top: 49px;
    padding-left: 37px;
    padding-bottom: 49px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #FFFFFF;
}

#info1:target, #info2:target, #info3:target {
    display: block;
}

.close {
    height: 30px;
    width: 30px;
    background-image: url("../img/close.png");
    position: absolute;
    top: 10px;
    right: 20px;
}

.close:hover {
    background-image: url("../img/close_hover.png");
}

.popup-img {
    height: 245px;
    width: 580px;
    margin-bottom: 29px;
    background-position: top center;
    background-size: cover;
}

h3 {
    margin: 0px;
}

.pr-text {
    width: 580px;
    margin-bottom: 10px;
}