<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Contacts</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;628&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/default.css" />
    <link rel="stylesheet" type="text/css" href="~/css/catalog_page.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
</head>
<body>
    <header class="header">
        <script src="/js/view_getters/show_header.js"></script>
    </header>
    <div class="main-block">
        <div class="container">
            <div class="row upper-section">
                <div class="col-md-3">
                    <h1 class="catalog__title">Корзина</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <script src="/js/view_getters/show_footer.js"></script>
    </div>
</body>
</html>
